<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

<title>Recipe</title>
</head>
<body>

	<h1 th:text="${recipe.description}"></h1>
	
	<table>
		<tr>
			<td>Prep Time: </td>
			<td th:text="${recipe.prepTime}"></td>
		</tr>
		<tr>
			<td>cookTime: </td>
			<td th:text="${recipe.cookTime}"></td>
		</tr>
		<tr>
			<td>servings: </td>
			<td th:text="${recipe.servings}"></td>
		</tr>
		<tr>
			<td>source: </td>
			<td th:text="${recipe.source}"></td>
		</tr>
		<tr>
			<td>url : </td>
			<td th:text="${recipe.url}"></td>
		</tr>
	</table>
	
	
	<h2>Ingredients</h2>
	
	<p th:each="ingredient : ${recipe.ingredients}" th:text=" ' - ' + ${ingredient.description}"></p>
	
	<h2>Directions</h2>
	<p th:text="${recipe.directions}"></p>
	<h2>Notes</h2>
	<p th:text="${recipe.notes.recipeNotes}"></p>
</body>
</html>